variables:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""

stages:
  - test

services:
  - postgres:latest

cache:
  key: "$CI_PROJECT_NAME"
  paths:
    - $HOME/.cache/pip

include:
  - project: thelabnyc/gitlab-ci-templates
    file: /ci/sast.gitlab-ci.yml

test_python35:
  stage: test
  tags:
    - django-oscar
  image: python:3.5
  script:
    - pip install tox
    - tox -e 'py35-django111-drf{38,39,3x}-oscar{15,16},py35-django{200,210,220}-drf{38,39,3x}-oscar16'

test_python36:
  stage: test
  tags:
    - django-oscar
  image: python:3.6
  script:
    - pip install tox
    - tox -e 'py36-django111-drf{38,39,3x}-oscar{15,16},py36-django{200,210,220}-drf{38,39,3x}-oscar16'

test_python37:
  stage: test
  tags:
    - django-oscar
  image: python:3.7
  script:
    - pip install tox
    - tox -e 'py37-django{200,210,220}-drf{38,39,3x}-oscar16'

test_pypy35:
  stage: test
  tags:
    - django-oscar
  image: pypy:3-5
  script:
    - pip install tox
    - tox -e 'pypy3-django111-drf{38,39,3x}-oscar{15,16},pypy3-django{200,210,220}-drf{38,39,3x}-oscar16'
