variables:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""

stages:
  - test

services:
  - postgres:latest

cache:
  key: "$CI_PROJECT_NAME"
  paths:
    - $HOME/.cache/pip

before_script:
  - pip install tox

test_python34:
  stage: test
  image: python:3.4
  script: tox -e 'py34-django111-drf{36,37,38}-oscar15'

test_python35:
  stage: test
  image: python:3.5
  script: tox -e 'py35-django111-drf{36,37,38}-oscar15'

test_python36:
  stage: test
  image: python:3.6
  script: tox -e 'py36-django111-drf{36,37,38}-oscar15'

test_pypy35:
  stage: test
  image: pypy:3-5
  script: tox -e 'pypy3-django111-drf{36,37,38}-oscar15'
