workflow:
  rules:
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

variables:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""
  POSTGRES_HOST_AUTH_METHOD: 'trust'

stages:
  - test
  - release

services:
  - postgres:latest@sha256:1090bc3a8ccfb0b55f78a494d76f8d603434f7e4553543d6e807bc7bd6bbd17f

cache:
  key: "$CI_PROJECT_NAME"
  paths:
    - $HOME/.cache/pip

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/review@0.7.0
  - component: gitlab.com/thelabnyc/thelab-ci-components/precommit@0.7.0
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.7.0
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-pypi@0.7.0

test:
  stage: test
  image: "registry.gitlab.com/thelabnyc/python:${IMAGE}"
  script:
    - uv sync
    - uv run tox
  coverage: '/^TOTAL.+?(\d+\%)$/'
  parallel:
    matrix:
      - IMAGE: "3.12"
        TOX_SKIP_ENV: "^(?!py312-)"
      - IMAGE: "3.13"
        TOX_SKIP_ENV: "^(?!py313-)"
      - IMAGE: "3.14"
        TOX_SKIP_ENV: "^(?!py314-)"
