variables:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: ""
  POSTGRES_HOST_AUTH_METHOD: 'trust'

stages:
  - test

services:
  - postgres:latest

cache:
  key: "$CI_PROJECT_NAME"
  paths:
    - $HOME/.cache/pip

test:
  stage: test
  tags:
    - django-oscar
  image: $IMAGE
  script:
    - pip install tox
    - tox -e $TOX_ENVS
  artifacts:
    paths:
      - junit-*/
    reports:
      junit:
        - junit-*/TEST-*.xml
  parallel:
    matrix:
      - IMAGE: python:3.7
        TOX_ENVS: py37-django{220,300,310}-drf{312}-oscar{30}

      - IMAGE: python:3.8
        TOX_ENVS: py38-django{220,300,310}-drf{312}-oscar{30}

      - IMAGE: python:3.9
        TOX_ENVS: py39-django{220,300,310}-drf{312}-oscar{30}

      - IMAGE: pypy:3
        TOX_ENVS: pypy3-django{220,300,310}-drf{312}-oscar{30}
