services:
  postgres:
    image: postgres:latest@sha256:435fe973d0516bf24165976346eced9c841a890b1a2092cb68c45a93679b1b19
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: env
    links:
      - postgres
    volumes:
      - .:/code
