services:
  postgres:
    image: postgres:latest@sha256:ddce3a93c54af591736e8e71c036dc790a0f525bf733d65b25a1bbd0a67949ae
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: env
    links:
      - postgres
    volumes:
      - .:/code
