services:
  postgres:
    image: postgres:latest@sha256:20b542a43252d23f8da074dc952a65c63fc4b412cedb75d92e61ebd68e925fab
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: env
    links:
      - postgres
    volumes:
      - .:/code
