services:
  postgres:
    image: postgres:latest@sha256:28bda6d50590658221007b10573830c941b483e9d1a5bc2713a3f60477df8389
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: env
    links:
      - postgres
    volumes:
      - .:/code
