[build-system]
requires = [ "poetry-core>=1.9.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "django-oscar-api-checkout"
version = "3.4.0"
description = "An extension on top of django-oscar-api providing a more flexible checkout API with a pluggable payment methods interface."
authors = ["thelab <thelabdev@thelab.co>"]
readme = "README.rst"
homepage = "https://gitlab.com/thelabnyc/django-oscar/django-oscar-api-checkout"
repository = "https://gitlab.com/thelabnyc/django-oscar/django-oscar-api-checkout"
license = "ISC"

[[tool.poetry.packages]]
include = "oscarapicheckout"
from = "src"

[tool.poetry.dependencies]
python = "^3.10"
Django = "^4.2.14"
django-oscar = "^3.2.4"
django-oscar-api = "^3.2.4"
drf-recaptcha = "^3.1.0"

[tool.poetry.group.dev.dependencies]
coverage = "^7.6.0"
flake8 = "^7.1.0"
psycopg2-binary = "^2.9.9"
PyYAML = "^6.0.1"
sorl-thumbnail = "^12.10.0"
sphinx = "^7.3.7"
tox = "^4.16.0"
unittest-xml-reporting = "^3.2.0"
